<div id="about-wrapper">
	<h1 class="display-4">O MedBot</h1>
	<div class="row">
		<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col">
			<p class="lead">
				MedBot é um chat bot desenvolvido com o objetivo de promover o uso racional de medicamentos. A aplicação fornece informações
				essenciais sobre interações entre medicamentos, efeitos colaterais e contra indicações, contribuindo para a segurança
				farmacológica do paciente.
			</p>
		</div>
	</div>
	<h3 class="">A Equipe</h3>
	<div class="row">
		<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col">
			<p class="about-team">
				O MedBot foi desenvolvido no Bluehack@Hortolândia nos dias 19 e 20 de agosto de 2017. Os integrantes da equipe são Abner
				Castro, Amanda Migotto, Camila Henrique, Matheus Moraes Oliveira e Victor Bitelman Verzellesi.
			</p>
			<div class="team-members">
				<img src="/images/user_pic_1.jpg" title="Abner Castro" alt="" class="rounded-circle profile-pic">
				<img src="/images/user_pic_2.jpg" title="Amanda Migotto" alt="" class="rounded-circle profile-pic">
				<img src="/images/user_pic_3.jpg" title="Camila Henrique" alt="" class="rounded-circle profile-pic">
				<img src="/images/user_pic_4.jpg" title="Matheus Moraes" alt="" class="rounded-circle profile-pic">
				<img src="/images/user_pic_5.jpg" title="Victor Bitelman" alt="" class="rounded-circle profile-pic">
			</div>
		</div>
	</div>

</div>