<div id="about-wrapper">
	<h1 class="display-4">O MedBot</h1>
	<div class="row">
		<div class="col-8">
			<p class="lead">
				MedBot é um chat bot desenvolvido com o objetivo de promover o uso racional de medicamentos. A aplicação fornece informações
				essenciais sobre interações entre medicamentos, efeitos colaterais e contra indicações, contribuindo para a segurança
				farmacológica do paciente.
			</p>
		</div>
	</div>
	<h3 class="">A Equipe</h3>
	<div class="row">
		<div class="col-8">
			<p class="lead">
				O MedBot foi desenvolvido no Bluehack@Hortolândia nos dias 19 e 20 de agosto de 2017. Os integrantes da equipe são Abner
				Castro, Amanda Migotto, Camila Henrique, Matheus Moraes Oliveira e Victor Bietelman Verzellesi.
			</p>
		</div>
	</div>

</div>