<div ng-controller="ChatController as vm" class="chat-container d-flex flex-row justify-content-center align-items-lg-center">
    <div class="chat-card card mr-auto ml-auto mb-auto mt-auto col-lg-6">
        <!-- Heading -->
        <div class="card-header">
            <i class="fa fa-comments fa-fw"></i> Chatbot
            <!-- <div class="card-title">
                Chatbot
            </div> -->
        </div>
        <!-- Body -->
        <div class="card-body" scroll-glue>
            <ul class="chat" ng-repeat="message in vm.messages">
                <li class="left clearfix" ng-if="message.recipient === 'user'">
                    <span class="chat-img pull-left">
                                <img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png" alt="User Avatar" class="rounded-circle avatar" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">Você</strong>
                            <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{message.date}}
                            </small>
                        </div>

                        <p>
                            {{message.content}}
                        </p>
                    </div>
                </li>
                <li class="right clearfix" ng-if="message.recipient === 'watson'">
                    <span class="chat-img pull-right">
                            <img src="/images/watson-avatar.png" alt="User Avatar" class="avatar" ng-click="vm.transcriptMessage(message.content)" style="cursor: pointer" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> {{message.date}}</small>
                            <strong class="pull-right primary-font">MedBot</strong>
                        </div>
                        <p>
                            {{message.content}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Footer -->
        <div class="card-footer">
            <form ng-submit="vm.sendMessage()">
                <div class="form-group">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Digite sua mensagem aqui..." ng-model="vm.input" autofocus />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-secondary bg-success" id="btn-chat">
                                Enviar
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>